<%- partial('_partial/post-header') %>
<div class="post-main">

    <% if (is_post()) { %>
    
        <div class="post-main-title">
            <%= page.title %>
        </div>
        <div class="post-content-meta">
            <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="post-md">
            <%- page.content %>
        </div>
        
        <% if (page.tags && page.tags.length) { %>
            <div class="post-content-meta tags">
                <div>
                    <% page.tags.forEach(function(tag) { %>
                        <a href="<%= url_for(tag.path) %>"><%= tag.name %></a>
                    <% }); %>
                </div>
            </div>
        <% } %>

    <% } else { %>

        <div class="post-md">
            <%- page.content %>
        </div>

    <% } %>